#mydiv, .shape {
    position: absolute;
    z-index: 9;
    text-align: center;
}

#mydivheader {
    height: 30%;
    cursor: move;
    z-index: 50;
}

.rectangle {
	height: 50px;
	width: 200px;
	background-color: #7FDBFF;
}

.diamond {
	height: 50px;
	width: 50px;
	background-color: #7FDBFF;
	transform: rotate(45deg);
} 
