<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='actions.js')}}"></script>
	<title>draggable</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
	<span onclick="insertShape('diamond', 1)">Create Diamond</span>
	<br>
	<span onclick="insertShape('rectangle', 2)">Create Rectangle</span>
	<br>
	<span onclick="endpointsInfo()">Endpoints info</span>
    <br>
    <span onclick="sendGraphCPP()">Export CPP</span>

	<!--Draggable DIV:-->
	<div id="mydiv">
	  <div id="mydivheader"></div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.8/js/jsplumb.min.js"></script>
    <script>
        jsPlumb.ready(function() {
            jsPlumb.connect({
                source:"item_left",
                target:"item_right",
                endpoint:"Rectangle",
                overlays:[ 
                    ["Arrow" , { width:12, length:12, location:0.67 }]
                ]
            });
            
            jsPlumb.draggable("item_left");
            jsPlumb.draggable("item_right");
        });
    </script>
</body>
</html>
